@import "tailwindcss";

@theme {
  /* ─── VERDE (Brand) ─────────────────────────────────── */
  --color-brand-50:  #f0fdf6;
  --color-brand-100: #dcfce9;
  --color-brand-200: #bbf7d4;
  --color-brand-300: #86efad;
  --color-brand-400: #4ade80;
  --color-brand-500: #19CA68;   /* ← sua cor primária */
  --color-brand-600: #1AD76F;   /* ← sua brand-light  */
  --color-brand-700: #15a356;
  --color-brand-800: #166534;
  --color-brand-900: #14532d;

  /* Superfícies com transparência verde */
  --color-surface-green-dark: #1AD76F10;
  --color-surface-green-alt:  #1AD76F20;
  --color-surface-green-md:   #1AD76F30;

  /* ─── AZUL / CYAN (Accent) ──────────────────────────── */
  --color-cyan-50:  #ecfeff;
  --color-cyan-100: #cffafe;
  --color-cyan-200: #a5f3fc;
  --color-cyan-300: #67e8f9;
  --color-cyan-400: #22d3ee;  
  --color-cyan-500: #06b6d4;
  --color-cyan-600: #0891b2;
  --color-cyan-700: #0e7490;
  --color-cyan-800: #155e75;
  --color-cyan-900: #164e63;

  /* Superfícies com transparência cyan */
  --color-surface-cyan-dark: #22d3ee10;
  --color-surface-cyan-alt:  #22d3ee20;
  --color-surface-cyan-md:   #22d3ee30;
 

    /* ─── FUNDO / DARK THEME ────────────────────────────── */
    --color-background-page: #0A0A0A;
    --color-bg-pure:  #000000b6;
    --color-bg-card:  #121212;
    --color-bg-navy:  #171C23;
    --color-bg-hover:#2D2D2D;
    --color-bg-hover2: #4B4B4B;
    /* ─── ALIASES SEMÂNTICOS ────────────────────────────── */
  --color-primary: var(--color-brand-500);
  --color-accent:  var(--color-cyan-400);

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error:   #ef4444;
  --color-info:    var(--color-cyan-500);

  --background-image-geometric: url('../../public/img/ondas.jpg'); 
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.scroll-hidden,body,html {
  scrollbar-width: none;       
  -ms-overflow-style: none;   
}

::-webkit-scrollbar {
  height: 0;              
}

 ::-webkit-scrollbar{
  scrollbar-width: thin;             
  scrollbar-color:  transparent;
}

/* Chrome / Safari */
::-webkit-scrollbar {
  height: 12px;                         
}
